@charset "utf-8";
/*-------------------------------
ハンバーガーボタン
-------------------------------*/

.menu-btn {
    position: fixed;
    top: 20px;
    left: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #a5e2e3;
}

.menu-btn span, .menu-btn span:before, .menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #fff;
    position: absolute;
}

.menu-btn span:before {
    bottom: 8px;
}

.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked~.menu-btn span {
    background-color: rgba(255, 255, 255, 0);
    /*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked~.menu-btn span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#menu-btn-check:checked~.menu-btn span::after {
    top: 0;
    transform: rotate(-45deg);
}

#menu-btn-check {
    display: none;
}

/*-------------------------------
メニュー
-------------------------------*/

.menu-content ul {
    padding: 0;
}

.menu-content ul li {
    border-bottom: solid 1px #ccc;
    list-style: none;
    padding: 10px 30px;
    color: #707070;
}
.menu-content ul li a {
    display: block;
    width: 100%;
    font-size: 15px;
    box-sizing: border-box;
    color: #707070;
    text-decoration: none;
    padding: 9px 15px 10px 0;
    position: relative;
}

.menu-content {
    width: 100%;
    position: fixed;
    left: 0;
    top: -150%;
    /*topの値を変更してメニューを画面外へ*/
    background-color: #e7fbfc;
}

#menu-btn-check:checked~.menu-content {
    top: 100px;
    /*メニューを画面内へ*/
}

.acd-check{
    display: none;
}
.acd-label{
    display: block;
    margin-bottom: 1px;
    position: relative;
    padding: 0;
}
.acd-label:after{
    box-sizing: border-box;
    content: "+";
    font-size: 2em;
    display: block;
    height: 59px;
    padding: 0 15px;
    color: #707070;
    position: absolute;
    right: -20px;
    top: -37px;
}
.acd-content{
    display: block;
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: .5s;
    visibility: hidden;
}
.acd-content ul li{
    border-bottom: none;
    padding: 0 0 0 30px;
}
.acd-check:checked + .acd-label:after{
    position: absolute;
    top: -30px;
    content: "×";
    font-size: 1.5em;
}
.acd-check:checked + .acd-label + .acd-content{
    height: auto;
    opacity: 1;
    padding: 10px;
    visibility: visible;
}

@media screen and (max-width:767px) {}

@media screen and (min-width:768px) {}