@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
/*-------------------------------
共通パーツ
-------------------------------*/

body {
    color: #707070;
    font-family: "Noto Sans JP", "游ゴシック体", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
}

section {
    padding: 70px 0 20px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

/*-------------------------------
ヘッダーメニュー
-------------------------------*/

header {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #a5e2e3;
}

.header-logo {
    text-align: center;
    line-height: 1;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    padding-top: 20px;
    font-family: "M PLUS Rounded 1c";
}

.header-logo span {
    font-size: 0.7em;
}

/*-------------------------------
フッターメニュー
-------------------------------*/

footer {
    background-color: #e7fbfc;
    padding: 50px 0;
}

.footer-nav ul {
    display: block;
    margin-left: 10px;
}

.footer-nav ul li {
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-nav ul li ul {
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
}

.footer-nav ul li ul li {
    margin-left: 10px;
    font-weight: normal;
}

.footer-nav ul li a, .footer-nav ul li ul li a {
    color: #707070;
}

.footer-nav ul li a:hover, .footer-nav ul li ul li a:hover {
    color: #74d8d9;
}
.copy-right{
    margin-top: 50px;
    text-align: center;
}
/*-------------------------------
パンくずリスト
-------------------------------*/
.breadcrumb-box{
    padding-top: 120px;
    margin-bottom: -50px;
}
.breadcrumb {
    margin: 0;
    padding: 0;
  }
  .breadcrumb li {
    display: inline;/*横に並ぶように*/
    list-style: none;
    font-weight: bold;/*太字*/
  }
  
  .breadcrumb li:after {/* >を表示*/
    content: '>';
    padding: 0 0.2em;
    color: #333;
  }
  
  .breadcrumb li:last-child:after {
    content: '';
  }
  
  .breadcrumb li a {
    color: #3c8b8c;
  }
  
  .breadcrumb li a:hover {
    text-decoration: underline;
  }
/*-------------------------------
ヒーローイメージ
-------------------------------*/

.top-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    width: 100%;
    background-size: cover;
    background-position: bottom center;
}
#kyushu-top .top-image {
    height: 50vh;
    background-image: url(../img/top-img.jpg);
}

.top-image-logo {
    color: #fff;
    text-align: center;
}

.top-image-logo p {
    font-size: 1em;
    margin-bottom: 20px;
    font-family: "M PLUS Rounded 1c";
}

.top-image-logo h1 {
    font-weight: bold;
    font-size: 2.5em;
    line-height: 1;
    font-family: "M PLUS Rounded 1c";
    border: none;
    width: 100%;
}
.top-image-logo h1::before, 
.top-image-logo h1::after {
    border: none;
}

.top-image-logo h1 span {
    font-size: 0.7em;
}

/*-------------------------------
見出し
-------------------------------*/
h1 {
    position: relative;
    padding: 1.5rem 2rem;
    border-bottom: 4px solid #707070;
    border-top: 4px solid #707070;
    font-size: 2em;
    text-align: center;
    font-family: "M PLUS Rounded 1c";
    margin-bottom: 50px;
  }
  
  h1:before,
  h1:after {
    position: absolute;
    left: 0;
    width: 100%;
    content: '';
    border-top: 2px solid #707070;
  }
  
  h1:before {
    top: 6px;
  }
  
  h1:after {
    bottom: 6px;
  }

h2 {
    position: relative;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 70px;
    font-family: "M PLUS Rounded 1c";
}

h2::before {
    content: '';
    position: absolute;
    bottom: -30px;
    display: inline-block;
    width: 90px;
    height: 9px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #a5e2e3;
    border-radius: 999px;
}

/*-------------------------------
県から探す
-------------------------------*/

.todohuken-btn, .mokuteki-btn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.todohuken-btn a, .mokuteki-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 15vh;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 1.2em;
    background-blend-mode: multiply;
    font-family: "M PLUS Rounded 1c";
}

.todohuken-btn a:nth-child(7) {
    background-position: top center;
}

.fukuoka-btn {
    background: url(../img/fukuoka-img.jpg) rgba(0, 0, 0, 0.3);
}

.saga-btn {
    background: url(../img/saga-img.jpg) rgba(0, 0, 0, 0.3);
}

.nagasaki-btn {
    background: url(../img/nagasaki-img.jpg) rgba(0, 0, 0, 0.3);
}

.kumamoto-btn {
    background: url(../img/kumamoto-img.jpg) rgba(0, 0, 0, 0.3);
}

.oita-btn {
    background: url(../img/oita-img.jpg) rgba(0, 0, 0, 0.3);
}

.miyazaki-btn {
    background: url(../img/miyazaki-img.jpg) rgba(0, 0, 0, 0.3);
}

.kagosima-btn {
    background: url(../img/kagosima-img.jpg) rgba(0, 0, 0, 0.3);
}

.okinawa-btn {
    background: url(../img/okinawa-img.jpg) rgba(0, 0, 0, 0.3);
}

.iki-btn {
    background: url(../img/iki-img.jpg) rgba(0, 0, 0, 0.3);
}

.tsushima-btn {
    background: url(../img/tsushima-img.jpg) rgba(0, 0, 0, 0.3);
}

.yakushima-btn {
    background: url(../img/yakushima-img.jpg) rgba(0, 0, 0, 0.3);
}

.amami-btn {
    background: url(../img/amami-img.jpg) rgba(0, 0, 0, 0.3);
}

/*-------------------------------
目的から探す
-------------------------------*/

.mokuteki-btn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mokuteki-btn a :last-child {
    margin-bottom: 0;
}

.mokuteki-01 {
    background: url(../img/onsen.jpg) rgba(0, 0, 0, 0.3);
}

.mokuteki-02 {
    background: url(../img/food.jpg) rgba(0, 0, 0, 0.3);
}

.mokuteki-03 {
    background: url(../img/zekkei.jpg) rgba(0, 0, 0, 0.3);
}

.mokuteki-04 {
    background: url(../img/rekishi.jpg) rgba(0, 0, 0, 0.3);
}

.mokuteki-05 {
    background: url(../img/taiken.jpg) rgba(0, 0, 0, 0.3);
}

.mokuteki-06 {
    background: url(../img/leisure.jpg) rgba(0, 0, 0, 0.3);
}

.mokuteki-07 {
    background: url(../img/sekaiisan.jpg) rgba(0, 0, 0, 0.3);
}

.mokuteki-08 {
    background: url(../img/shopping.jpg) rgba(0, 0, 0, 0.3);
}

.mokuteki-09 {
    background: url(../img/mitinoie.jpg) rgba(0, 0, 0, 0.3);
}

/*-------------------------------
週間ランキング/おすすめコースモデル/特集
-------------------------------*/

.ranking-box, .course-box, .special-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ranking-card, .course-card, .special-card {
    width: 48%;
    margin-bottom: 40px;
}

.ranking-card-img {
    position: relative;
}

.ranking-card-img a img, .course-card a img, .special-card a img {
    width: 100%;
    height: 15vh;
    object-fit: cover;
}

.ranking-card-img div {
    position: absolute;
    top: -5px;
    left: 4px;
    width: 25px;
    height: 35px;
    padding-top: 7px;
    background-color: #74d8d9;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.ranking-01 div {
    background-color: #e2cc58;
}

.ranking-02 div {
    background-color: #bcbcbc;
}

.ranking-03 div {
    background-color: #b7a39a;
}

.ranking-card h3, .course-card h3, .special-card h3 {
    margin-top: 10px;
    font-weight: bold;
    line-height: 1.25;
}

.ranking-card h3 a:hover, .course-card h3 a:hover, .special-box h3 a:hover {
    color: #333;
}

.read-more-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.read-more-btn a {
    display: inline-block;
    background-color: #707070;
    color: #fff;
    border-radius: 999px;
    padding: 15px 30px;
    line-height: 1;
    font-size: 1.2em;
}

.read-more-btn a:hover {
    background-color: #333;
}

.special {
    background-color: #f6f6f6;
    margin-top: 50px;
    padding-bottom: 70px;
}

/*-------------------------------
県のタグ/タグ
-------------------------------*/

.ken-tag, .tag{
    margin-top: 20px;
}
.ken-tag{
    text-align: end;
}
.ken-tag a, .tag a{
    display: inline-block;
    padding: 3px 10px 5px;
    border-radius: 999px;
    color: #fff;
    font-size: 1em;
    line-height: 1;
}
.tag a::before{
    content: "#";
}

.tag a{
    background-color: #3c8b8c;
    margin-bottom: 5px;
    margin-right: 5px;
}

.todohuken-01 {
    background-color: #ea7171;
}

.todohuken-02 {
    background-color: #eac071;
}

.todohuken-03 {
    background-color: #aad566;
}

.todohuken-04 {
    background-color: #6ec2d1;
}

.todohuken-05 {
    background-color: #84aef0;
}

.todohuken-06 {
    background-color: #a071ea;
}

.todohuken-07 {
    background-color: #ea71e5;
}

.todohuken-08 {
    background-color: #ea71a4;
}
/*-------------------------------
各県のトップページ
-------------------------------*/

.special-box-big {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.special-box-big .special-card {
    width: 100%;
    margin-bottom: 40px;
    background-color: #fff;
}
.special-box-big .special-card a img {
    height: 40vh;
}
.special-box-big .special-card h3, .special-box-big .special-card p {
    padding: 0 5%;
}
.special-box-big .special-card p {
    margin-bottom: 10px;
}

@media screen and (max-width:767px) {}

@media screen and (min-width:768px) {
    /*-------------------------------
共通パーツ
-------------------------------*/
    .container {
        max-width: 1200px;
        width: 100%;
    }
    /*-------------------------------
フッターメニュー
-------------------------------*/
    .footer-nav ul {
        display: flex;
        justify-content: center;
        margin-left: 0;
    }
    .footer-nav ul li {
        font-weight: bold;
        margin-right: 50px;
        margin-bottom: 0;
    }
    .footer-nav ul li:nth-child(4) {
        margin-right: 0px;
    }
    .footer-nav ul li ul {
        display: block;
    }
    .footer-nav ul li ul li {
        font-weight: normal;
        margin-left: 0;
        margin-bottom: 5px;
    }
    .footer-nav ul li a:hover, .footer-nav ul li ul li a:hover {
        color: #74d8d9;
    }
    /*-------------------------------
ヒーローイメージ
-------------------------------*/
    #kyushu-top .top-image {
        height: 70vh;
    }
    .top-image-logo p {
        font-size: 2em;
        margin-bottom: 20px;
    }
    .top-image-logo h1 {
        font-weight: bold;
        font-size: 5em;
        line-height: 1;
    }
    /*-------------------------------
県から探す
-------------------------------*/
    .todohuken-btn {
        justify-content: center;
    }
    .todohuken-btn a {
        height: 20vh;
        width: 23%;
        margin-bottom: 20px;
        font-size: 1.4em;
    }
    .todohuken-btn a {
        margin-right: 2%;
    }
    .todohuken-btn a:nth-child(4n) {
        margin-right: 0;
    }
    .mokuteki-btn a {
        height: 25vh;
        width: 32%;
        margin-bottom: 20px;
        font-size: 1.4em;
    }
    /*-------------------------------
週間ランキング/おすすめコースモデル
-------------------------------*/
    .ranking-box, .course-box {
        flex-wrap: nowrap;
    }
    .ranking-card {
        width: 18%;
        margin-bottom: 0;
    }
    .ranking-card-img a img {
        height: 20vh;
    }
    .course-card, .special-card {
        width: 23%;
        margin-bottom: 0;
    }
    .course-card a img, .special-card a img {
        height: 25vh;
    }
    .read-more-btn {
        margin-top: 50px;
    }
    /*-------------------------------
県のタグ
-------------------------------*/
    .todohuken-01, .todohuken-02, .todohuken-03, .todohuken-04, .todohuken-05, .todohuken-06, .todohuken-07, .todohuken-08 {
        margin-right: 10px;
        margin-bottom: 0;
    }
    /*-------------------------------
各県のおすすめ
-------------------------------*/
.special-box-big .special-card {
    width: 23%;
    margin-bottom: 0;
}
.special-box-big .special-card a img{
    height: 25vh;
}
}