@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
/*-------------------------------
共通パーツ
-------------------------------*/

body {
    color: #707070;
    font-family: "Noto Sans JP", "游ゴシック体", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
}

section {
    margin: 70px 0;
}

.container, .page-container {
    width: 95%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*-------------------------------
ヘッダーメニュー
-------------------------------*/

header {
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #a5e2e3;
}

#zenkoku-top .header-logo {
    padding-top: 35px;
}

.header-logo {
    text-align: center;
    line-height: 1;
    font-size: 2em;
    font-weight: bold;
    padding-top: 20px;
    font-family: "M PLUS Rounded 1c";
}

.header-logo a {
    color: #ffffff;
}

.header-logo span {
    font-size: 0.7em;
}

/*-------------------------------
フッターメニュー
-------------------------------*/

footer {
    background-color: #e7fbfc;
    padding: 50px 0 30px;
}

.footer-nav ul {
    display: block;
    margin-left: 10px;
}

.footer-nav ul li {
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-nav ul li ul {
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
}

.footer-nav ul li ul li {
    margin-left: 10px;
    font-weight: normal;
}

.footer-nav ul li a, .footer-nav ul li ul li a {
    color: #707070;
}

.footer-nav ul li a:hover, .footer-nav ul li ul li a:hover {
    color: #74d8d9;
}

.copy-right {
    margin-top: 30px;
    text-align: center;
}

/*-------------------------------
パンくずリスト
-------------------------------*/

.breadcrumb {
    padding-top: 50px;
}

.breadcrumb li a {
    color: #707070;
    text-decoration: none;
}

/*-------------------------------
ヒーローイメージ
-------------------------------*/

.top-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    width: 100%;
    background-size: cover;
    background-position: bottom center;
}

#zenkoku-top .top-image {
    height: 50vh;
    background-image: url(../img/zenkoku-top.jpg);
    background-position: center;
}

#kyushu-top .top-image {
    height: 50vh;
    background-image: url(../img//kyushu/top-img.jpg);
}

.top-image-logo {
    color: #fff;
    text-align: center;
}

.top-image-logo p {
    font-size: 1em;
    margin-bottom: 20px;
    font-family: "M PLUS Rounded 1c";
    text-shadow: 0px 0px 10px #3d3d3d;
}

.top-image-logo h1 {
    font-weight: bold;
    font-size: 2.5em;
    line-height: 1;
    font-family: "M PLUS Rounded 1c";
    border: none;
    width: 100%;
    padding: 0;
    text-shadow: 0px 0px 10px #3d3d3d;
}

.top-image-logo h1::before, .top-image-logo h1::after {
    border: none;
}

.top-image-logo h1 span {
    font-size: 0.7em;
}

/*-------------------------------
見出し
-------------------------------*/

h2 {
    position: relative;
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 70px;
    font-family: "M PLUS Rounded 1c";
}

h2::before {
    content: '';
    position: absolute;
    bottom: -30px;
    display: inline-block;
    width: 90px;
    height: 9px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #a5e2e3;
    border-radius: 999px;
}

h4 {
    font-size: 1.2em;
}

/*-------------------------------
県から探す(全国)
-------------------------------*/

.todohuken-btn, .mokuteki-btn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.todohuken-btn a, .mokuteki-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 15vh;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 1.2em;
    background-blend-mode: multiply;
    font-family: "M PLUS Rounded 1c";
}

.hokkaido-btn {
    background: url(../img/hokkaido-img.jpg) rgba(0, 0, 0, 0.3);
}

.tohoku-btn {
    background: url(../img/tohoku-img.jpg) rgba(0, 0, 0, 0.3);
}

.kanto-btn {
    background: url(../img/kanto-img.jpg) rgba(0, 0, 0, 0.3);
}

.chubu-btn {
    background: url(../img/chubu-img.jpg) rgba(0, 0, 0, 0.3);
}

.kinki-btn {
    background: url(../img/kinki-img.jpg) rgba(0, 0, 0, 0.3);
}

.chugoku-btn {
    background: url(../img/chugoku-img.jpg) rgba(0, 0, 0, 0.3);
}

.shikoku-btn {
    background: url(../img/shikoku-img.jpg) rgba(0, 0, 0, 0.3);
}

.kyushu-btn {
    background: url(../img/kyushu-img.jpg) rgba(0, 0, 0, 0.3);
}

/*-------------------------------
県から探す(九州)
-------------------------------*/

#kyushu-top .todohuken-btn a:nth-child(7) {
    background-position: top center;
}

.fukuoka-btn {
    background: url(../img/kyushu/fukuoka-img.jpg) rgba(0, 0, 0, 0.3);
}

.saga-btn {
    background: url(../img/kyushu/saga-img.jpg) rgba(0, 0, 0, 0.3);
}

.nagasaki-btn {
    background: url(../img/kyushu/nagasaki-img.jpg) rgba(0, 0, 0, 0.3);
}

.kumamoto-btn {
    background: url(../img/kyushu/kumamoto-img.jpg) rgba(0, 0, 0, 0.3);
}

.oita-btn {
    background: url(../img/kyushu/oita-img.jpg) rgba(0, 0, 0, 0.3);
}

.miyazaki-btn {
    background: url(../img/kyushu/miyazaki-img.jpg) rgba(0, 0, 0, 0.3);
}

.kagosima-btn {
    background: url(../img/kyushu/kagosima-img.jpg) rgba(0, 0, 0, 0.3);
}

.okinawa-btn {
    background: url(../img/kyushu/okinawa-img.jpg) rgba(0, 0, 0, 0.3);
}

.iki-btn {
    background: url(../img/kyushu/iki-img.jpg) rgba(0, 0, 0, 0.3);
}

.tsushima-btn {
    background: url(../img/kyushu/tsushima-img.jpg) rgba(0, 0, 0, 0.3);
}

.yakushima-btn {
    background: url(../img/kyushu/yakushima-img.jpg) rgba(0, 0, 0, 0.3);
}

.amami-btn {
    background: url(../img/kyushu/amami-img.jpg) rgba(0, 0, 0, 0.3);
}

/*-------------------------------
目的から探す
-------------------------------*/

.mokuteki-btn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mokuteki-btn a :last-child {
    margin-bottom: 0;
}

.mokuteki-01 {
    background: url(../img/kyushu/onsen.jpg) rgba(0, 0, 0, 0.3);
}

.mokuteki-02 {
    background: url(../img/kyushu/food.jpg) rgba(0, 0, 0, 0.3);
}

.mokuteki-03 {
    background: url(../img/kyushu/zekkei.jpg) rgba(0, 0, 0, 0.3);
}

.mokuteki-04 {
    background: url(../img/kyushu/rekishi.jpg) rgba(0, 0, 0, 0.3);
}

.mokuteki-05 {
    background: url(../img/kyushu/taiken.jpg) rgba(0, 0, 0, 0.3);
}

.mokuteki-06 {
    background: url(../img/kyushu/leisure.jpg) rgba(0, 0, 0, 0.3);
}

.mokuteki-07 {
    background: url(../img/kyushu/sekaiisan.jpg) rgba(0, 0, 0, 0.3);
}

.mokuteki-08 {
    background: url(../img/kyushu/shopping.jpg) rgba(0, 0, 0, 0.3);
}

.mokuteki-09 {
    background: url(../img/kyushu/mitinoie.jpg) rgba(0, 0, 0, 0.3);
}

/*-------------------------------
週間ランキング/おすすめコースモデル/特集
-------------------------------*/

.ranking-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ranking-card {
    width: 48%;
    margin-bottom: 40px;
}

.ranking-card-img {
    position: relative;
}

.ranking-card-img a img {
    width: 100%;
    height: 15vh;
    object-fit: cover;
}

.ranking-card-img div {
    position: absolute;
    top: -5px;
    left: 4px;
    width: 25px;
    height: 35px;
    padding-top: 7px;
    background-color: #74d8d9;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.ranking-01 div {
    background-color: #e2cc58;
}

.ranking-02 div {
    background-color: #bcbcbc;
}

.ranking-03 div {
    background-color: #b7a39a;
}

.ranking-card .card-body {
    background-color: #fff;
}

.read-more-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.read-more-btn a {
    display: inline-block;
    background-color: #707070;
    color: #fff;
    border-radius: 999px;
    padding: 15px 30px;
    line-height: 1;
    font-size: 1.2em;
}

.read-more-btn a:hover {
    background-color: #333;
}

.special {
    background-color: #f6f6f6;
    margin-top: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 0;
}

/*-------------------------------
県のタグ/タグ
-------------------------------*/

.ken-tag, .tag {
    margin-top: 20px;
}

.ken-tag {
    text-align: end;
}

.ken-tag a, .tag a {
    display: inline-block;
    padding: 3px 10px 5px;
    border-radius: 999px;
    color: #fff;
    font-size: 1em;
    line-height: 1;
}

.tag a::before {
    content: "#";
}

.tag a {
    background-color: #3c8b8c;
    margin-bottom: 5px;
    margin-right: 5px;
}

.todohuken-01 {
    background-color: #ea7171;
}

.todohuken-02 {
    background-color: #eac071;
}

.todohuken-03 {
    background-color: #aad566;
}

.todohuken-04 {
    background-color: #6ec2d1;
}

.todohuken-05 {
    background-color: #84aef0;
}

.todohuken-06 {
    background-color: #a071ea;
}

.todohuken-07 {
    background-color: #ea71e5;
}

.todohuken-08 {
    background-color: #ea71a4;
}

/*-------------------------------
個別ページのデザイン
-------------------------------*/

.tag-area {
    text-align: end;
    margin-top: -30px;
}

.tag-area a {
    display: inline-block;
    position: relative;
    padding: 3px 15px 5px 30px;
    border-radius: 999px;
    color: #fff;
    font-size: 1em;
    line-height: 1.25;
    margin-bottom: 10px;
}

.tag-area a::before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: '\f3c5';
    font-weight: 900;
    left: 12px;
}

.page-head {
    margin-top: 20px;
}

.page-head h1 {
    font-size: 1.9em;
    font-weight: bold;
    border-bottom: #707070 1px solid;
    line-height: 1.25;
    padding-bottom: 10px;
}

.tag-genre {
    display: flex;
    margin-bottom: 30px;
}

.tag-genre li {
    margin-right: 10px;
}

.tag-genre li a {
    color: #a5e2e3;
}

.tag-genre li a::before {
    content: "＃";
}

.cp_cssslider {
    width: 100%;
    /* 画像の高さ */
    position: relative;
    margin: 2em auto;
    text-align: center;
}

.cp_cssslider>img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.cp_cssslider input[name='cp_switch'] {
    display: none;
}

/* サムネイル */

.cp_cssslider label {
    margin: 280px 5px 0 5px;
    border: 2px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s ease;
    opacity: 0.6;
    border-radius: 3px;
}

.cp_cssslider label:hover {
    opacity: 0.9;
}

.cp_cssslider label img {
    display: block;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.cp_cssslider input[name='cp_switch']:checked+label {
    border: 2px solid #FF7043;
    opacity: 1;
}

.cp_cssslider input[name='cp_switch']~img {
    opacity: 0;
}

.cp_cssslider input[name='cp_switch']:checked+label+img {
    opacity: 1;
}

.overview h2::before {
    content: none;
}

.overview h2 {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: left;
    font-family: "Noto Sans JP", "游ゴシック体", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    line-height: 1.5;
    font-size: 1.5em;
    font-weight: bold;
}

.information-box {
    background-color: #f6f6f6;
    padding: 30px 0;
}

.information-box dl {
    padding: 0 5% 5px;
}

.information-box dl dt {
    font-weight: bold;
    font-size: 1.05em;
    margin-bottom: 10px;
}

.information-box dl dt i {
    font-size: 1.2em;
    margin-right: 5px;
}

.information-box dl dd dl {
    padding: 0;
    margin-bottom: 15px;
    border-bottom: none;
}

.information-box dl dd dl:last-child {
    margin-bottom: 0;
}

.information-box dl dd dl dt {
    font-size: 1em;
    font-weight: normal;
}

.map iframe {
    width: 100%;
    height: 500px;
}

.kuchikomi-card {
    border: #707070 1px solid;
    padding: 15px;
    margin-bottom: 20px;
}

.kuchikomi-card h3 {
    margin-bottom: 10px;
}

.sns-btn {
    display: flex;
    justify-content: center;
}

.sns-btn div {
    margin-top: 0;
    margin-right: 15px;
}

.line-it-button {
    margin-top: 4px;
}

.sns-btn div:last-child {
    margin-right: 0;
}

@media screen and (max-width:767px) {}

@media screen and (min-width:768px) {
    /*-------------------------------
共通パーツ
-------------------------------*/
    .container {
        max-width: 1200px;
        width: 100%;
    }
    .pc-none {
        display: none;
    }
    /*-------------------------------
フッターメニュー
-------------------------------*/
    /*-------------------------------
ヒーローイメージ
-------------------------------*/
    #zenkoku-top .top-image, #kyushu-top .top-image {
        height: 70vh;
    }
    .top-image-logo p {
        font-size: 2em;
        margin-bottom: 20px;
    }
    .top-image-logo h1 {
        font-weight: bold;
        font-size: 5em;
        line-height: 1;
    }
    /*-------------------------------
全国トップ検索
-------------------------------*/
    .top-menu {
        width: 50%;
        margin: 0 auto;
        padding: 20px 50px;
    }
    /*-------------------------------
県から探す
-------------------------------*/
    .todohuken-btn {
        justify-content: left;
    }
    .todohuken-btn a {
        height: 20vh;
        width: 23%;
        margin-bottom: 20px;
        font-size: 1.4em;
    }
    .todohuken-btn a {
        margin-right: 2.33%;
    }
    .todohuken-btn a:nth-child(4n) {
        margin-right: 0;
    }
    .mokuteki-btn a {
        height: 25vh;
        width: 32%;
        margin-bottom: 20px;
        font-size: 1.4em;
    }
    /*-------------------------------
週間ランキング/おすすめコースモデル
-------------------------------*/
    .course-box, .special-box {
        justify-content: left;
        text-decoration: none;
    }
    .ranking-card {
        width: 18%;
    }
    .ranking-card-img a img {
        height: 20vh;
    }
    .course-card, .special-card {
        width: 23%;
        margin-right: 2.33%;
    }
    .course-card:nth-child(4n), .special-card:nth-child(4n) {
        margin-right: 0;
    }
    .course-card a img, .special-card a img {
        height: 25vh;
    }
    .read-more-btn {
        margin-top: 50px;
    }
    /*-------------------------------
県のタグ
-------------------------------*/
    .todohuken-01, .todohuken-02, .todohuken-03, .todohuken-04, .todohuken-05, .todohuken-06, .todohuken-07, .todohuken-08 {
        margin-right: 10px;
        margin-bottom: 0;
    }
    /*-------------------------------
各県のおすすめ
-------------------------------*/
    .special-box-big .special-card {
        width: 23%;
        margin-bottom: 0;
    }
    .special-box-big .special-card a img {
        height: 25vh;
    }
    /*-------------------------------
個別ページのデザイン
-------------------------------*/
    .page-container {
        max-width: 980px;
        margin: 0 auto;
    }
    .cp_cssslider>img {
        height: 400px;
        width: 600px;
    }
    .cp_cssslider label {
        margin: 430px 5px 0;
    }
    .cp_cssslider label img {
        width: 70px;
        height: 70px;
    }
    .overview h2 {
        margin-top: 0;
    }
    .information-box dl {
        display: flex;
    }
    .information-box dl dt {
        width: 30%;
        padding-left: 10px;
    }
    .information-box dl dd {
        width: 58%;
        padding-right: 10px;
    }
    .information-box dl dd dl {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        padding: 0;
    }
    .information-box dl dd dl dt {
        width: 100%;
        padding-left: 0;
    }
    .information-box dl dd dl dd {
        width: 100%;
    }
    .information-box dl dd dl {
        padding: 0;
        margin-bottom: 15px;
    }
    .kuchikomi-card {
        padding: 30px;
    }
}