@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
/*-------------------------------
共通パーツ
-------------------------------*/

body {
    color: #707070;
    font-family: "Noto Sans JP", "游ゴシック体", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
}

section {
    margin: 70px 0;
}

.container, .page-container {
    width: 95%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/*-------------------------------
ヘッダーメニュー
-------------------------------*/

header {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: #00B06B;
}

#zenkoku-top .header-logo {
    padding-top: 20px;
}

.header-logo {
    text-align: center;
    line-height: 1;
    font-size: 1.2em;
    font-weight: bold;
    padding-top: 10px;
    font-family: "M PLUS Rounded 1c";
}

.header-logo a {
    color: #ffffff;
}

.header-logo span {
    font-size: 0.7em;
}

/*-------------------------------
フッターメニュー
-------------------------------*/

footer {
    background-color: #dddddd;
    padding: 50px 0 30px;
}

.footer-nav ul {
    display: block;
    margin-left: 10px;
}

.footer-nav ul li {
    margin-bottom: 10px;
    font-weight: bold;
}

.footer-nav ul li ul {
    margin-top: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
}

.footer-nav ul li ul li {
    margin-left: 10px;
    font-weight: normal;
}

.footer-nav ul li a, .footer-nav ul li ul li a {
    color: #707070;
}

.footer-nav ul li a:hover, .footer-nav ul li ul li a:hover {
    color: #00B06B;
}

.copy-right {
    margin-top: 30px;
    text-align: center;
    color: #ffffff;
}

/*-------------------------------
パンくずリスト
-------------------------------*/

.breadcrumb-section {
    margin-bottom: 30px;
    margin-top: 0;
    padding-top: 80px;
}

.breadcrumb-section .page-content {
    width: 100%;
}

.breadcrumb li a {
    color: #707070;
    text-decoration: none;
}

/*-------------------------------
ヒーローイメージ
-------------------------------*/

.top-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-size: cover;
    background-position: bottom center;
    padding-top: 60px;
}

#zenkoku-top .top-image {
    height: 50vh;
    padding-top: 60px;
    background-image: url(../img/zenkoku-top.jpg);
    background-position: center;
}

#kyushu-top .top-image {
    height: 50vh;
    background-image: url(../kyushu/img/top-img.jpg);
}

.top-image-logo {
    color: #fff;
    text-align: center;
}

.top-image-logo p {
    font-size: 1em;
    margin-bottom: 20px;
    font-family: "M PLUS Rounded 1c";
    text-shadow: 0px 0px 10px #3d3d3d;
}

.top-image-logo h1 {
    font-weight: bold;
    font-size: 2.5em;
    line-height: 1;
    font-family: "M PLUS Rounded 1c";
    border: none;
    width: 100%;
    padding: 0;
    text-shadow: 0px 0px 10px #3d3d3d;
}

.top-image-logo h1::before, .top-image-logo h1::after {
    border: none;
}

.top-image-logo h1 span {
    font-size: 0.7em;
}

/*-------------------------------
見出し
-------------------------------*/

h2 {
    position: relative;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 60px;
    font-family: "M PLUS Rounded 1c";
}

h2::before {
    content: '';
    position: absolute;
    bottom: -25px;
    display: inline-block;
    width: 80px;
    height: 8px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #00B06B;
    border-radius: 999px;
}

h4 {
    font-size: 1.2em;
}

/*-------------------------------
県から探す(全国)
-------------------------------*/

.todohuken-btn, .mokuteki-btn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.todohuken-btn a, .mokuteki-btn a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48%;
    height: 15vh;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    color: #fff;
    font-size: 1.2em;
    background-blend-mode: multiply;
    font-family: "M PLUS Rounded 1c";
}

/*-------------------------------
県から探す(九州)
-------------------------------*/

#kyushu-top .todohuken-btn a:nth-child(7) {
    background-position: top center;
}

/*-------------------------------
目的から探す
-------------------------------*/

.mokuteki-btn {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mokuteki-btn a :last-child {
    margin-bottom: 0;
}

/*-------------------------------
週間ランキング/おすすめコースモデル/特集
-------------------------------*/

.ranking-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ranking-card {
    width: 48%;
    margin-bottom: 40px;
}

.ranking-card-img {
    position: relative;
}

.ranking-card-img a img {
    width: 100%;
    height: 15vh;
    object-fit: cover;
}

.ranking-card-img div {
    position: absolute;
    top: -5px;
    left: 4px;
    width: 25px;
    height: 35px;
    padding-top: 7px;
    background-color: #00B06B;
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
}

.ranking-01 div {
    background-color: #e2cc58;
}

.ranking-02 div {
    background-color: #bcbcbc;
}

.ranking-03 div {
    background-color: #b7a39a;
}

.ranking-card .card-body {
    background-color: #fff;
}

.read-more-btn {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.read-more-btn a {
    display: inline-block;
    background-color: #707070;
    color: #fff;
    border-radius: 999px;
    padding: 15px 30px;
    line-height: 1;
    font-size: 1.2em;
}

.read-more-btn a:hover {
    background-color: #333;
}

.special {
    background-color: #f6f6f6;
    margin-top: 50px;
    padding-top: 70px;
    padding-bottom: 70px;
    margin-bottom: 0;
}

/*-------------------------------
県のタグ/タグ
-------------------------------*/

.ken-tag, .tag {
    margin-top: 20px;
}

.ken-tag {
    text-align: end;
}

.ken-tag a, .tag a {
    display: inline-block;
    padding: 3px 10px 5px;
    border-radius: 999px;
    color: #fff;
    font-size: 1em;
    line-height: 1;
}

.tag a::before {
    content: "#";
}

.tag a {
    background-color: #3c8b8c;
    margin-bottom: 5px;
    margin-right: 5px;
}

.todohuken-01 {
    background-color: #00B06B;
}

/*-------------------------------
各県のトップページ
-------------------------------*/

.todohuken-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-size: cover;
    height: 30vh;
    margin-top: -20px;
}

#fukuoka-top .todohuken-top {
    background-image: url(../kyushu/fukuoka/img/fukuoka-top.jpg);
    background-position: center;
}

.todohuken-top-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todohuken-top-h1 h1 {
    font-size: 2.3em;
    margin-top: 20px;
    line-height: 0.8;
    text-align: center;
    font-family: "M PLUS Rounded 1c";
    width: 100%;
    padding: 0;
    color: #ffffff;
    text-shadow: 0px 0px 10px #3d3d3d;
}

.todohuken-top-h1 h1 span {
    display: inline-block;
    font-size: 0.5em;
}

.area-btn {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr;
}

.area-btn li {
    position: relative;
    overflow: hidden;
}

.area-btn li a img {
    width: 100%;
    height: 100%;
    transition: 1s all;
    object-fit: cover;
}

.area-btn li a img:hover {
    transform: scale(1.2, 1.2);
    transition: 1s all;
}

.area-btn li div {
    font-family: "M PLUS Rounded 1c";
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
    background-blend-mode: multiply;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    color: #ffffff;
    text-shadow: 0px 0px 4px #3d3d3d;
    pointer-events: none;
}

.area-btn li div::after {
    content: url(../kyushu/fukuoka/img/greeen-arrow.png);
    position: absolute;
    bottom: 0;
    right: 5px;
}

/*-------------------------------
一覧ページのデザイン
-------------------------------*/

.list-h1 {
    font-family: "M PLUS Rounded 1c";
    margin-top: -30px;
    margin-bottom: 50px;
    font-weight: bold;
    position: relative;
    padding-left: 45px;
    border-bottom: #707070 3px double;
    padding-bottom: 10px;
}

.list-h1::before {
    font-family: "Font Awesome 5 Free";
    content: '\f279';
    font-weight: 900;
    font-size: 1.2em;
    color: #00B06B;
    position: absolute;
    left: 0;
    top: -2px;
}

.page-item.active .page-link {
    background-color: #cccccc;
    border-color: #cccccc;
}

.area-list div a {
    color: #707070;
}

.area-list div .card a img:hover {
    opacity: 0.7;
}

.area-list-text {
    margin: 20px 15px 10px;
}

.area-list-text h3 {
    font-weight: bold;
}

.area-list-text h3:hover {
    color: #555555;
}

.area-list-text p {
    font-size: 0.8em;
}

.card-list-area {
    margin: 5px 0 20px;
    color: #00B06B;
    display: inline-block;
    border-bottom: #00B06B 2px solid;
}

.card-list-area i {
    margin-right: 3px;
}

.list-tag {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-right: 10px;
}

.list-tag li {
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 0 10px 2px;
    border-radius: 100px;
    border: #00B06B 1px solid;
}

.list-tag li a {
    color: #00B06B;
    font-size: 0.8em;
}

.list-tag li a::before {
    content: "＃";
}

/*-------------------------------
個別ページのデザイン
-------------------------------*/

.tag-area {
    text-align: end;
    margin-top: -30px;
}

.tag-area a {
    display: inline-block;
    position: relative;
    padding: 3px 15px 5px 30px;
    border-radius: 999px;
    color: #fff;
    font-size: 1em;
    line-height: 1.25;
    margin-bottom: 10px;
    z-index: 1;
}

.tag-area a::before {
    position: absolute;
    font-family: "Font Awesome 5 Free";
    content: '\f3c5';
    font-weight: 900;
    left: 12px;
}

.page-head {
    margin-top: 20px;
}

.page-head h1 {
    font-size: 1.9em;
    font-weight: bold;
    border-bottom: #707070 1px solid;
    line-height: 1.25;
    padding-bottom: 10px;
}

.tag-genre {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.tag-genre li {
    margin-right: 10px;
}

.tag-genre li a {
    color: #00B06B;
}

.tag-genre li a::before {
    content: "＃";
}

.cp_cssslider {
    width: 100%;
    /* 画像の高さ */
    position: relative;
    margin: 2em auto;
    text-align: center;
}

.cp_cssslider>img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.cp_cssslider input[name='cp_switch'] {
    display: none;
}

/* サムネイル */

.cp_cssslider label {
    margin: 280px 5px 0 5px;
    border: 2px solid #ffffff;
    display: inline-block;
    cursor: pointer;
    transition: all 0.5s ease;
    opacity: 0.6;
    border-radius: 3px;
}

.cp_cssslider label:hover {
    opacity: 0.9;
}

.cp_cssslider label img {
    display: block;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.cp_cssslider input[name='cp_switch']~img {
    opacity: 0;
}

.cp_cssslider input[name='cp_switch']:checked+label+img {
    opacity: 1;
}

.overview h2::before {
    content: none;
}

.overview h2 {
    padding-top: 30px;
    margin-bottom: 30px;
    text-align: left;
    font-family: "Noto Sans JP", "游ゴシック体", "Yu Gothic", yugothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
    line-height: 1.5;
    font-size: 1.5em;
    font-weight: bold;
}

.overview p {
    margin-bottom: 20px;
}

.overview img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.information-box {
    border-right: 3px #dddddd double;
    border-left: 3px #dddddd double;
    padding: 30px 0;
}

.information-box dl {
    padding: 0 5% 5px;
}

.information-box dl dt {
    font-weight: bold;
    font-size: 1.05em;
    margin-bottom: 10px;
}

.information-box dl dt i {
    font-size: 1.2em;
    margin-right: 5px;
}

.information-box dl dd dl {
    padding: 0;
    margin-bottom: 15px;
    border-bottom: none;
}

.information-box dl dd dl:last-child {
    margin-bottom: 0;
}

.information-box dl dd dl dt {
    font-size: 1em;
    font-weight: normal;
}

.map iframe {
    width: 100%;
    height: 500px;
}

.kuchikomi-card {
    background-color: #eeeeee;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
}

.kuchikomi-card h3 {
    margin-bottom: 10px;
    font-size: 1.3em;
}

.acd-check-post {
    display: none;
}

.acd-label-post {
    background: #39BD88;
    border-bottom: 7px #00B06B solid;
    border-radius: 100px;
    color: #fff;
    display: flex;
    justify-content: center;
    width: 300px;
    line-height: 60px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    transition: .5s;
}

.acd-label-post:hover {
    opacity: 0.8;
}

.acd-content-post {
    display: block;
    transition: .5s;
    height: 0;
    opacity: 0;
    padding: 0 10px;
    visibility: hidden;
}

.acd-check-post:checked+.acd-label-post+.acd-content-post {
    height: 390px;
    opacity: 1;
    padding: 30px 10px;
    visibility: visible;
}

.acd-content-post dl dd input, .acd-content-post dl dd textarea {
    width: 100%;
    border: #707070 1px solid;
    padding: 5px;
}

.btn-center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-btn {
    width: 150px;
    line-height: 40px;
    background-color: #0d6efd;
    border-bottom: #0A57C9 5px solid;
    text-align: center;
    display: inline-block;
    color: #ffffff;
    border-radius: 5px;
    transition: .5s;
}

.submit-btn:hover {
    opacity: 0.8;
}

.sns-btn {
    display: flex;
    justify-content: center;
}

.sns-btn div {
    margin-top: 0;
    margin-right: 15px;
}

.line-it-button {
    margin-top: 6px;
}

.sns-btn div:last-child {
    margin-right: 0;
}

article {
    margin-bottom: 50px;
}

article h2 {
    font-size: 1.4em;
}

.page-search {
    background-color: #999999;
    padding-bottom: 20px;
}

.search-box {
    padding: 20px 15px;
    background: #ffffff;
}

.page-search h2 {
    padding: 30px 0;
    margin-bottom: 0;
    color: #ffffff;
    font-weight: bold;
}

.page-search h2::before {
    content: none;
}

#form4 {
    margin-bottom: 90px;
    position: relative;
    width: 100%;
}

#sbox4 {
    height: 50px;
    width: 100%;
    padding: 0 20px;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 25px;
    outline: 0;
    background: #eee;
    font-size: 0.7em;
}

#sbtn4 {
    height: 50px;
    width: 50px;
    position: absolute;
    right: 0;
    top: 0;
    color: #707070;
    border: none;
    border-radius: 0 25px 25px 0;
}

#sbtn4 .fa-search {
    font-size: 20px;
    position: absolute;
    top: 30%;
    left: 25%;
}

#sbtn4:hover {
    color: #888;
}

.search-box .tag-genre {
    margin-bottom: 0;
}

.search-box .tag-genre li {
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 0 10px 2px;
    border-radius: 100px;
    border: #00B06B 1px solid;
}

.search-box .tag-genre li a {
    font-size: 0.8em;
}

@media screen and (max-width:767px) {
    .container-smnone {
        width: 100%;
    }
}

@media screen and (min-width:768px) {
    /*-------------------------------
共通パーツ
-------------------------------*/
    .container, .container-smnone {
        max-width: 1200px;
        width: 95%;
        padding: 0;
        margin: 0 auto;
    }
    .pc-none {
        display: none;
    }
    /*-------------------------------
ヘッダーメニュー
-------------------------------*/
    header {
        position: fixed;
        z-index: 200;
        height: 100px;
        top: 0;
        left: 0;
    }
    #zenkoku-top .header-logo {
        padding-top: 30px;
    }
    .header-logo {
        font-size: 2em;
        padding-top: 15px;
    }
    /*-------------------------------
パンくずリスト
-------------------------------*/
    .breadcrumb-section {
        padding-top: 110px;
    }
    .breadcrumb-section .container {
        padding: 0;
    }
    /*-------------------------------
ヒーローイメージ
-------------------------------*/
    .top-image {
        padding-top: 100px;
    }
    #zenkoku-top .top-image, #kyushu-top .top-image {
        height: 70vh;
    }
    .top-image-logo p {
        font-size: 2em;
        margin-bottom: 20px;
    }
    .top-image-logo h1 {
        font-weight: bold;
        font-size: 5em;
        line-height: 1;
    }
    /*-------------------------------
県から探す
-------------------------------*/
    .todohuken-btn {
        justify-content: left;
    }
    .todohuken-btn a {
        height: 20vh;
        width: 23%;
        margin-bottom: 20px;
        font-size: 1.4em;
    }
    .todohuken-btn a {
        margin-right: calc( 8% / 3);
    }
    .todohuken-btn a:nth-child(4n) {
        margin-right: 0;
    }
    .mokuteki-btn {
        justify-content: left;
    }
    .mokuteki-btn a {
        height: 25vh;
        width: 32%;
        margin-right: 2%;
        margin-bottom: 20px;
        font-size: 1.4em;
    }
    .mokuteki-btn a:nth-child(3n) {
        margin-right: 0;
    }
    /*-------------------------------
週間ランキング/おすすめコースモデル
-------------------------------*/
    .course-box, .special-box {
        justify-content: left;
        text-decoration: none;
    }
    .ranking-card {
        width: 18%;
    }
    .ranking-card-img a img {
        height: 20vh;
    }
    .course-card, .special-card, .col-lg-3 {
        width: 23%;
        margin-right: calc( 8% / 3);
    }
    .course-card:nth-child(4n), .special-card:nth-child(4n), .col-lg-3:nth-child(4n) {
        margin-right: 0;
    }
    .course-card a img, .special-card a img {
        height: 25vh;
    }
    .read-more-btn {
        margin-top: 50px;
    }
    .col-lg-3 {
        padding: 0;
    }
    /*-------------------------------
県のタグ
-------------------------------*/
    .todohuken-01, .todohuken-02, .todohuken-03, .todohuken-04, .todohuken-05, .todohuken-06, .todohuken-07, .todohuken-08 {
        margin-right: 10px;
        margin-bottom: 0;
    }
    /*-------------------------------
各県のおすすめ
-------------------------------*/
    .special-box-big .special-card {
        width: 23%;
        margin-bottom: 0;
    }
    .special-box-big .special-card a img {
        height: 25vh;
    }
    /*-------------------------------
各県のトップページ
-------------------------------*/
    .todohuken-top {
        height: 50vh;
    }
    .area-btn {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        gap: 0;
    }
    .area-btn li {
        width: 15%;
        margin-bottom: 20px;
        margin-right: 2%;
    }
    .area-btn li:nth-child(6n) {
        margin-right: 0;
    }
    /*-------------------------------
一覧ページのデザイン
-------------------------------*/
    .list-h1 {
        padding-left: 60px;
    }
    /*-------------------------------
個別ページのデザイン
-------------------------------*/
    .page-container {
        max-width: 980px;
        margin: 0 auto;
        padding: 0 2.5%;
    }
    .page-content {
        max-width: 980px;
        margin: 0 auto;
        display: flex;
    }
    .page-left {
        max-width: 700px;
        width: 100%;
    }
    .page-right {
        max-width: 280px;
        width: 100%;
        margin-left: 30px;
        margin-top: 70px;
    }
    .tag-area {
        margin-top: -65px;
    }
    .cp_cssslider>img {
        height: 466px;
        max-width: 700px;
    }
    .cp_cssslider label {
        margin: 496px 5px 0;
    }
    .cp_cssslider label img {
        width: 70px;
        height: 70px;
    }
    .overview h2 {
        margin-top: 0;
    }
    .information-box dl {
        display: flex;
    }
    .information-box dl dt {
        width: 30%;
        padding-left: 10px;
    }
    .information-box dl dd {
        width: 68%;
        padding-right: 10px;
    }
    .information-box dl dd dl {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        padding: 0;
    }
    .information-box dl dd dl dt {
        width: 100%;
        padding-left: 0;
    }
    .information-box dl dd dl dd {
        width: 100%;
    }
    .information-box dl dd dl {
        padding: 0;
        margin-bottom: 15px;
    }
    .kuchikomi-card {
        padding: 30px;
    }
    .acd-check-post:checked+.acd-label-post+.acd-content-post {
        padding: 50px 10px;
    }
    .acd-content-post dl {
        display: flex;
    }
    .acd-content-post dl dt {
        width: 20%;
    }
    .acd-content-post dl dd {
        width: 80%;
    }
    .page-search {
        padding-bottom: 15px;
    }
}